* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

#my-app header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color:skyblue;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#my-app h1 {
  margin: 20px 0;
}

#my-app section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26)  ;
  margin: 3rem auto;
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#my-app h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: skyblue;
  margin: 0 0 16px 0;
  line-height: 40px;
}

#my-app p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid skyblue;
  background-color: skyblue;
  color: white;
  padding: 0.5rem;
  border-radius: 25px;
  text-align: center;
}

#my-app input {
  font: inherit;
  border: 1px solid #ccc;
}

#my-app input:focus {
  outline: none;
  border-color: skyblue;
  background-color: skyblue;
}

#my-app button {
  font: inherit;
  cursor: pointer;
  border: 1px solid purple;
  background-color: purple;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#my-app button:hover,
#my-app button:active {
  background-color: purple;
  border-color: purple;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

#my-app ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

#my-app li {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: skyblue;
  padding: 0.5rem;
  color: #1f1f1f;
  border-radius: 25px;
}
