
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Vue Introduction</title>
      <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
      <link rel="stylesheet" href="../styles.css" />
      <script src="https://unpkg.com/vue@next" defer></script> 
      <script src="app.js" defer></script>
    </head>
    <body>
      <header>
        <h1>Fake News</h1>
      </header>
      <section>
        <h2>{{ news }}</h2>
        <button v-on:click="generator">Generate!!</button>  
      </section>
      <section>
        <h2>History</h2>
        <ul>
            <li v-for="newsItem in newsHistory">{{newsItem}}</li>
        </ul>
      </section>
      </div>
    </body>
  </html>
