<template>
<header>
        <h1>Fake News</h1>
      </header>
      <section>
        <h2>{{ news }}</h2>
        <button v-on:click="generator">Generate!!</button>  
      </section>
      <section v-if="newsHistory.length !== 0">
        <h2>History</h2>
        <ul>
            <li v-for="newsItem in newsHistory" v-bind:key="newsItem">{{newsItem}}</li>
        </ul>
      </section>
</template>

<script>
var persons = ["Putin,", "Biden,", "Obama", "Mexico,", "Ryan Gosling", "The Democrats"];
var part1 = ["no talent,", "on the way down,", "nasty tone,", "looking like a fool,", "bad hombre,"];
var part2 = ["got destroyed by my ratings.", "rigged the election.", "will pay for the wall."];
var part3 = ["So sad", "Apologize", "So true", "Media won't report", "Big trouble", "Fantastic job"];

var sentenceGroup = [persons, part1, part2, part3];

export default {
  name: 'App',
  data (){
        return {
            news: 'Welcome to the generator!',
            newsHistory: []
        };
  }, 
  methods: {
        generator() {
            this.newsHistory.push(this.news);
            var sentence = '';
            for(var i = 0; i < sentenceGroup.length; i++) {
                var sentencePart = sentenceGroup[i];
                sentence += sentencePart[Math.floor(Math.random()*sentencePart.length)] + ' ';
            }
            this.news = sentence;
        }
    }
}
</script>

